:root {
  --background-color: #D2FFE7;
  --main-if-color: #A8CCB9;
  --active-if-color: #2BFF8F;
  --secondary-if-color: #697F74;
  --tv-color: #2d2d2d;
  --screen-color: #2d4367;
}

h1 {
  color: red;
}

html { 
  height: 100%;
  min-width: 320px;
  min-height: 480px;
  background-color: var(--background-color); 
  font-family: sans-serif;
}

body {
  position: relative;
  margin: 0 auto;
  height: 100%;
  max-width: 1200px;
  min-width: 320px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* layout styles */

.main-container {
  height: 100%;
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  padding: 10px;
  flex-direction: column; 
  justify-content: space-between;
  align-items: stretch; 
  box-sizing: border-box;
}

.aside-list-container,
.cinema-container,
.tv-panel-container,
.nav-container {
  margin: 0 auto;
}


.cinema-container,
.tv-panel-container,
.nav-container {
  width: 100%;
}

.aside-list-showed .main-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: auto;
  width: 50%;
  padding-right: 5px;
}

.nav-container {
   overflow: hidden; 
}

.cinema-container {
  position: relative; 
  flex-grow: 1;  
  justify-content: space-around;
  align-items: center;
}

.tv-panel-container {
  align-self: stretch;
}

.aside-list-container { 
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50%;
  padding: 10px;
  padding-left: 5px;
  display: none;  
  box-sizing: border-box;
}

.aside-list-container.show-channels,
.aside-list-container.show-watchlist,
.aside-list-container.show-reclist,
.aside-list-container.show-blocklist {
  display: block;
}

.aside-channels-list,     
.aside-watchlist,  
.aside-reclist,
.aside-blocklist {
  display: none;
}

.show-channels .aside-channels-list,
.show-watchlist .aside-watchlist,
.show-reclist .aside-reclist,
.show-blocklist .aside-blocklist {
  display: block;
}


/* nav styles */

.nav-items {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  /* padding: 1%; */
}

.nav-item {
  margin: 5px; 
  width: calc(50% - 10px);
}

.nav-btn {
  display: block;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  padding: 20px 0 20px 40px;
  background-color: var(--main-if-color);
  text-align: center;
  text-transform: uppercase;
  color: var(--background-color);
  font-size: 1.3rem;
  font-weight: bold;
  transition: background-color 0.2s,
              transform 0.2s;
}

.nav-btn.active {
  color: var(--main-if-color);
  background-color: var(--secondary-if-color);  
}

.nav-btn.active:focus,
.nav-btn.active:hover {
  color: var(--main-if-color);
  background-color: var(--secondary-if-color);
}

.nav-btn:focus,
.nav-btn:hover {
  background-color: var(--active-if-color);
  outline: none;
}

.nav-btn.inactive,
.nav-btn.inactive:focus,
.nav-btn.inactive:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-btn.inactive:hover .fa,
.nav-btn.inactive:focus .fa {
  transform: translateY(-50%);
}

.nav-btn .fa {
  font-size: 2.1em;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  transition: transform 0.2s;
}

.nav-btn:focus .fa,
.nav-btn:hover .fa {
  transform: translateY(-50%) scale(1.2);
}

/* tv image styles */

.cinema {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  max-height: 50vh;  
  max-width: 75vh;
  transform: translateY(-50%);
}


.aside-list-showed .cinema {
  max-height: 400px;   
}

.tv {
    position: absolute;
    top: 15%;
    bottom: 15%;
    left: 20%;
    right: 20%;
  /* position: absolute;
  top: 50px;
  bottom: 50px;
  left: 100px;
  right: 100px; */
  background-color: var(--tv-color);
  background-image: radial-gradient(
                    ellipse at 100% 300%, 
                    transparent 75%,
                    rgba(255, 255, 255, 0.1) 75%);
}


.tv::after {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  content: '';
  width: 20%;
  height: 10px;
  margin: 0 auto;
  background-color: green;
  border: 1px solid rgba(0, 0, 0, 0.5); 
}

.screen {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 50px;
  background-color: var(--screen-color);
  background-image: radial-gradient(
                    ellipse at 85% 300%, 
                    transparent 74%,
                    rgba(255, 255, 255, 0.1) 74%);
}

.screen-content {
  display: block;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-position: 50% 70%;
  background-size: auto 70%;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.audio {
  position: absolute;
  top: 20px;
  bottom: 20px;
  width: 10%;
  border-radius: 10px 10px 0 0;
  background-color: var(--tv-color);
  background-image: radial-gradient(
                    ellipse at 200% 100%, 
                    transparent 75%,
                    rgba(255, 255, 255, 0.1) 75%);
}

.audio::after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  display: block;
  content: '';
  left: -15%;
  right: -15%;
  height: 15px;
  border-radius: 10px 10px 0 0;
  background-color: inherit;
}

.audio-left {
  left: 20px;
}

.audio-right {
  right: 20px;
}

.speaker {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 20px;
  border: 2px solid #2a2a2a; 
  border-radius: 5px;
  background-color: #49403a;
  background-image: linear-gradient(to left top, 
                                       rgba(0, 0, 0, 0.2) 10%, 
                                       transparent 10%, 
                                       transparent 30%, 
                                       rgba(0, 0, 0, 0.2) 30%, 
                                       rgba(0, 0, 0, 0.2) 70%, 
                                       transparent 70%,
                                       transparent 90%,
                                       rgba(0, 0, 0, 0.2) 90%);
  background-size: 5px 5px;
  overflow: hidden;
}

.audio-indicator {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: green;
  transition: height 0.3s;
}

/* aside list styles */

.close-aside-button {
  display: block;
  position: absolute;
  z-index: 2;
  right: 15px;
  top: 14px;
  border: none;
  background-color: transparent;
  font-size: 25px;
  color: var(--secondary-if-color);
}

 .close-aside-button:focus {
  color: darkred;
  outline: none;
  transform: scale(1.2);
  transition: transform 0.2s,
              color 0.2s;
 }

.close-aside-button:hover {
  color: darkred;
  outline: none;
  transform: scale(1.2);
  transition: transform 0.2s,
              color 0.2s;
}

.close-aside-button:active {
  transition: none;
  transform: scale(1);
}

.aside-channels-list,
.aside-watchlist,
.aside-reclist,
.aside-blocklist {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: var(--main-if-color);
}

.aside-list-heading {
  margin: 0;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: var(--background-color);
}

.aside-channels-items,
.aside-watchlist-items,
.aside-reclist-items,
.aside-blocklist-items {
  position: absolute;
  top: 40px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  margin-top: 0;
  background-color: var(--background-color);
  overflow-y: auto;
}

.aside-channels-items {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 5px;
}

.channels-list-item {
  width: 50%;
  padding: 5px;
  box-sizing: border-box;
}

.channel-btn {
  display: block;
  position: relative;
  height: 250px;;
  width: 100%;
  border: 2px solid var(--main-if-color);
  padding: 5px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 50% 30%;
  background-size: auto 65%;
  border-radius: 5px;
}

.channel-btn:focus {
  outline: none;
}

.channel-btn.active {
  background-color: var(--active-if-color);
}

.channel-heading {
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto 0;
}

/* footer panel styles  */

.tv-panel {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-if-color);
}

.tv-controls {
  position: relative;
  display: flex;
}

.shutdown-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: none;
  width: 50px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  background-color: green;
  font-size: 30px;
  color: white;
  
  /* align-self: center; */
}

.tv-controls-add {
  width: 50%;
  box-sizing: border-box; 
  padding-top: 5px;
  height: 35px;
  line-height: 30px;
}

.tv-controls-right {
  display: flex;
  align-items: center;
  padding-left: 40px;
  text-align: left;
}

.shutdown-btn,
.record-btn,
.mute-btn {
  transition: background-color 0.2s,
              color 0.2s;
}

.shutdown-btn:focus,
.record-btn:focus,
.mute-btn:focus {
  outline: none;
}

.shutdown-btn:focus,
.record-btn:focus,
.shutdown-btn:hover,
.record-btn:hover {
  background-color: var(--active-if-color);
}

.mute-btn:focus,
.mute-btn:hover {
  color: var(--active-if-color);
}

.mute-btn {
  border: none;
  padding: 0;
  background-color: transparent;
  color: green;
  font-size: 30px;
}

.mute-btn.muted {
  color: var(--secondary-if-color);
}

.sound-controls {
  margin: 0 10px;
  max-width: 150px; 
  width: 60%; 
}

.tv-controls-left {
  padding-right: 40px;
  text-align: right; 
}

.record-btn {
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 0 5px;
  height: 30px;
  line-height: 30px;
  background-color: var(--secondary-if-color);
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

.record-btn::before {
  content: '';
  display: inline-block;
  margin-right: 0.4em;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: red;
   vertical-align: middle; 
}


.tv-info-heading {
  margin: 5px 0;
  font-size: 1rem;
  color: var(--secondary-if-color);
}

.tv-info-field {
  height: 30px;
  line-height: 30px;
  padding: 0 5px;
  background-color: var(--background-color);
}

/* media-queries */

@media (max-width: 1100px) {
  .aside-list-showed .main-container {
    width: 60%;
    max-width: none;
  }

  
  .aside-list-showed .cinema {
    max-height: 45vw;   
  }

  .aside-list-container {
    width: 40%;
  }

  .channel-btn {
    height: 15vw;
  }

  .audio {
    position: absolute;
    top: 20px;
    bottom: 20px;
    border-radius: 5px 5px 0 0;
  }

  .audio::after {
    width: 130%;
    left: -15%;
    right: -15%;
  }
}

@media (max-width: 850px) {

  .aside-list-showed .nav-btn {
    font-size: 1rem;
  }
}

@media (max-width: 700px) {

  .aside-list-container {
    left: 0;
    top: 83px;
    z-index: 2;
    width: 100%;
    max-width: 600px;
    padding: 10px;
  }

  .aside-list-showed .main-container {
    width: 100%;
    right: 0;
    max-width: 600px;
    padding: 10px;
  }

  .aside-list-showed .nav-item {
    width: calc(25% - 10px);
  }

  .channel-btn {
    height: 30vw;
  }

  .nav-btn {
    padding: 20px; 
  }

  .nav-btn-heading{
    display: none;
  }

  .nav-btn .fa {
    position: static;
    transform: none;
  }
  
  .nav-btn:hover:not(.active) .fa,
  .nav-btn:focus:not(.active) .fa {    
    transform: scale(1.2);
  }
  
  .nav-btn.active:hover .fa,
  .nav-btn.active:focus .fa,
  .nav-btn.inactive:hover .fa,
  .nav-btn.inactive:focus .fa {
    transform: none;
  }

  .cinema {
    max-height: 70vw;
  }
}

@media (max-width: 480px) {  
  .nav-item {
    width: calc(25% - 10px);
  }
  .aside-list-showed .nav-btn,
  .nav-btn {
    font-size: 0.75rem;
  }
  .aside-list-container {
    top: 75px;
  }
}

@media (max-height: 650px) {  
  .nav-item {
    width: calc(25% - 10px);
  }

  .nav-btn {
    font-size: 0.75rem;
    padding: 10px;
  }

  .nav-btn .fa {
    position: static;
    transform: none;
  }

  .nav-btn.active .fa,
  .nav-btn.inactive .fa,
  .nav-btn.inactive:focus .fa,
  .nav-btn.inactive:hover .fa {
    transform: none;
  }

  .nav-btn:focus:not(.active):not(.inactive) .fa,
  .nav-btn:hover:not(.active):not(.inactive) .fa {
    transform: scale(1.2);
  }

  .nav-btn-heading{
    display: none;
  }
}

@media (max-height: 650px) and (max-width: 700px) {
  .aside-list-container {
    top: 63px;
  }
}

@media (max-height: 650px) and (max-width: 480px) {
  .aside-list-container {
    top: 53px;
  }
}

@media (max-width: 320px) {
  .cinema {
    height: 250px;
    width: 100%;
    max-height: 100%;
  }
}

@media (max-height: 480px) {
  .cinema {
    height: 100%;
    max-width: 350px;
  }
}